<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>

    <div>
        <p>Don't have an account? <a th:href="@{/register}">Register</a></p>
    </div>
    
    <div th:if="${errorMessage}" style="color: #DC3545;">
        <p th:text="${errorMessage}"></p>
    </div>

    <form th:action="@{/login}" method="post">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required/>
        </div>
        <br>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required/>
        </div>
        <br>
        <button type="submit">Login</button>
    </form>
    <script>
        window.onload = function () {
            if (typeof history.pushState === "function") {
                history.pushState(null, null, null);
                window.onpopstate = function () {
                    history.pushState(null, null, null);
                };
            }
        };
    </script>    
</body>
</html>